<html ng-app="myapp">
    <head>
        <title>Step 5</title>
    <link href="https://raw.githubusercontent.com/AntJanus/tseczka-CSS-framework/develop/dist/tseczka.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
    <script>
        var app = angular.module("myapp", []);

        app.controller('FeedController', function($scope, feedFactory) {
            $scope.feed = [];

            var init = function() {
                feedFactory.getFeed.success(function(data) {
                    $scope.feed = data;
                 });

            };

            init();
        });

        app.factory('feedFactory', function($http) {
            return {
                getFeed: $http.get('http://localhost:3000/api/feed')
            };
        });

    </script>
    </head>
    <body>
        <section ng-view class="row">
            <div class="col-6">
                <div ng-controller="FeedController">
                    <ul class="block-list feed-list">
                        <li ng-repeat="item in feed">
                            <div class="feed-item">
                                <p>{{item.content | markdown | trust}}</p>
                                <ul class="list-meta">
                                    <li><a href="#">comment</a></li>
                                    <li><a href="#">like</a></li>
                            </div>
                            <div class="feed-comments">
                                <ul class="block-list comment-block">
                                    <li ng-repeat="comment in item.comments">
                                        {{comment | markdown | trust}}
                                    </li>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    <script src="js/filters.js"></script>
    </body>
</html>
